@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: hsl(0, 0%, 12%);
  width: 320px;
  height: 33rem;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 20vh; /* Adds space at the top */
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.location {
  color: hsl(75, 94%, 57%);
  font-size: 1rem;
  font-weight: 400;
}

.bio {
  font-size: 1rem;
  margin: 10px 0;
  font-weight: 400;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  width: 100%;
}

.social-links li {
  width: 100%;
}

.social-links li a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border: solid 2px hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  font-weight: 600;
}

.social-links li a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px; /* Adds space between the container and attribution */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Media Queries */
@media (max-width: 600px) {
  .container {
    width: 90%;
    margin-top: 10vh;
  }

  .social-links li a {
    width: 100%;
    font-size: 13px;
    padding: 8px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.25rem;
  }

  .location, .bio {
    font-size: 0.875rem;
  }

  .social-links li a {
    font-size: 12px;
    padding: 6px;
  }
}
